.home-layout {
  display: flex;
  gap: 1rem;
  background-color: #1a1a1a;
  color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 100vh;
}

.home-sidebar {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-main {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50vw;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.home-panel {
  background-color: #111;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.1);
}

.home-panel h2 {
  margin-bottom: 0.5rem;
  color: #ffd700;
  font-size: 1.3rem;
  border-bottom: 1px solid #444;
  padding-bottom: 0.3rem;
}

.home-panel ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-panel li {
  list-style: none;
  a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
  }
  a:hover {
    color: #ffd700;
  }
}

.coupon-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 0;
}

.coupon-list li {
  list-style: none;
  background-color: #1f1f1f;
  padding: 0.5rem 0.75rem;
  border: 1px solid #333;
  border-radius: 6px;
}

.coupon-code {
  font-weight: bold;
  font-size: 1.05rem;
  color: #ffd700;
}

.coupon-reward {
  font-size: 0.85rem;
  color: #ccc;
  margin-top: 4px;
}

.slide-placeholder {
  background-color: #222;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  border-radius: 6px;
  border: 1px dashed #444;
}

.raid-list,
.GrowthDungeon-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
  margin-top: 1rem;
}

.raid-card,
.GrowthDungeon-card {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 0.75rem;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.GrowthDungeon-card {
  justify-content: center;
}

.raid-card:hover,
.GrowthDungeon-card:hover {
  border: 1px solid #ffd700;
}

.raid-card img {
  width: 60px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.GrowthDungeon-card img {
  width: 250px;
  object-fit: contain;
}

.raid-card span {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
}

/* 반응형 대응 */
@media (max-width: 768px) {
  .home-layout {
    flex-direction: column;
  }
  .home-sidebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
