.raid-container {
  display: flex;
  flex-direction: row;
  background-color: #111;
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10px;
}

.raid-list {
  width: 300px;
  min-width: 250px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-right: 1px solid #333;
  flex-shrink: 0;
  justify-content: center;
}

.raid-tab {
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.raid-tab:hover {
  background-color: #333;
  transform: scale(1.02);
}

.raid-tab.active {
  outline: 2px solid #ffd700;
  box-shadow: 0 0 8px #ffd700;
}

.raid-tab-img {
  width: 100px;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #000;
}

.raid-tab-name {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  text-wrap: nowrap;
}

.raid-detail {
  flex: 1;
  min-width: 0;
  padding: 1rem;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
}

.raid-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 1rem;
}

.raid-bg img {
  width: 100%;
  height: 195px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
}

.raid-stats-box {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 16px;
  border-radius: 12px;
}

.raid-stat-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  height: 100%;
  text-wrap: nowrap;
}

.raid-info h2 {
  font-size: 1.5rem;
  color: #ffd700;
}

.raid-info p {
  background-color: #222;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0.5rem;
}

.stage-skill-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.stage {
  width: 50%;
  background-color: #222;
  border-radius: 10px;
}

.stage-select {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.stage-select button {
  padding: 0.5rem 1rem;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.stage-select button.active {
  background-color: #ffd700;
  color: black;
}

.stage-select button:hover {
  background-color: #666;
}

.skill-section {
  flex: 1;
  background-color: #222;
  padding: 1rem;
  border-radius: 10px;
  p {
    margin: 0 0 0.5rem;
    font-weight: bold;
    color: #ffd700;
  }
}

.raid-skill-images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: center;
}

@media (max-width: 786px) {
  .raid-list {
    justify-content: flex-start;
  }

  .raid-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .stage-skill-wrapper {
    flex-direction: column;
  }
  .stage {
    width: 100%;
  }
  .raid-skill-images img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 426px) {
  .raid-container {
    flex-direction: column;
  }

  .raid-list {
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 1rem 0.5rem;
    gap: 1rem;
    border-right: none;
    border-bottom: 1px solid #333;
    height: 115px;
  }

  .raid-tab {
    flex: 0 0 auto;
    width: 125px;
    height: 80px;
    padding: 0;
    background: linear-gradient(to right, #ffcc00, #ff9900);
  }

  .raid-tab-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .raid-tab-name {
    display: none;
  }

  .raid-info {
    padding: 0.5rem;
  }

  .raid-detail {
    padding: 1rem;
    margin-top: 115px;
  }

  .raid-bg img {
    height: 200px;
  }
}
