* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #1a1a1a;
  margin-top: 70px;
  min-height: calc(100vh - 70px);
  padding: 10px;
}

@media (max-width: 426px) {
  .page {
    margin-top: 50px;
    min-height: calc(100vh - 50px);
  }
}
